.next-btn{
    background: #faf0fc;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
}

/* Testimonial Card Start */
.testimonial-card{
    background: #fff;
    border-radius: 25px;
    padding: 50px 37px;
}
.testimonial-card .testimonial-card-header{
    display: flex;
    align-items: center;
    gap:23px;
    text-transform: capitalize;
    margin-bottom:25px; 
}
.testimonial-card .testimonial-card-header img{
    width: 77px;
}
.testimonial-card .testimonial-card-header .people-name{
    font-size: 18px;
}
/* Testimonial Card End */

/* Project Card Start */
.project-block:nth-child(1) .project-img{
    border-top-right-radius:80px; 
}
.project-block:nth-child(2) .project-img{
    border-top-left-radius:80px; 
}
.project-block:nth-child(3) .project-img{
    border-bottom-right-radius:80px; 
}
.project-block:nth-child(4) .project-img{
    border-bottom-left-radius:80px; 
}
.project-block .project-img{
    margin-bottom: 25px
}
.project-block > div{
    display: flex;
    justify-content: space-between;
}
.project-block .project-name{
    font-size: 25px;
}
.project-block .project-catg{
    font-size: 22px;
}
/* Project Card End */

/* Counter Start */
.counter{
    background: #F4F0EC;
    padding-block:150px;
    margin-block:150px;
}
.counter .main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.count-block:nth-child(2){
    padding-inline:55px;
    border-left: 1px solid #CDA274;
    border-right: 1px solid #CDA274;
    margin-left: 55px;
}
.count-block:nth-child(3){
    padding-inline:55px;
    border-right: 1px solid #CDA274;
    margin-right: 55px
}
.count-block .counter-count{
    font-size: 85px;
    color: #CDA274;
}
.count-block .count-name{
    font-size: 22px;
    color:#4D5053;
    margin-bottom: -15px;
}

/* Counter End */


/* Blog Sec Start */

.blog-sec .blog-grid{
    display: flex;
    gap:27px;
    justify-content: space-between;
}
.blog-sec .blog-block{
    border: 1px solid #E7E7E7;
    border-radius: 62px;;
    padding: 20px;
}
.blog-sec .blog-block .blog-img{
    border-radius:  47px 47px 0px 0;
    width: 100%;
}
.blog-sec .blog-block > div{
    position: relative
}
.blog-sec .blog-block .blog-catg{
    font-size: 16px;
    margin-block: -60px 40px;
    background: #fff;
    width: fit-content;
    padding: 8px 11px;
    margin-left: 20px;
    color: #4D5053;
    border-radius: 8px 8px 8px 0 ;
}
.blog-sec .blog-block .blog-name{
    font-size: 25px;
}
.blog-sec .blog-block > div > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.blog-block .next-btn{
    width: 52px;
    height: 52px;
}
/* Blog Sec End */
/* Contact Section Start */

.contact-sec{
    background: #292F36;
    margin-block:120px;
    padding: 80px 20px;
    text-align: center;
    color: #fff;
    border-radius: 70px;
}
.contact-sec .main-desc{
    margin-bottom: 30px
}
.contact-sec .btn{
    margin-inline:auto; 
    background: #CDA274;
}

/* Contact Section End */

/* Full Banner Start */

.full-banner{
    position: relative;
}
.full-banner .banner-img{
    width: 100%;
    object-fit: cover;
    max-height: 355px;
    height: 100%;
}
.full-banner .banner-block{
 position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    background: #fff;
    max-width: 500px;
    width: 100%;
    padding-block:40px;
    border-radius: 37px 37px 0 0 ;
    text-transform: capitalize;
}
.full-banner .banner-block .banner-title{
    font-size: 50px;
}
.full-banner .banner-block .banner-breadcrumb{
    font-size: 22px;
}

/* Full Banner End */